<div class="panel panel-green">

    <div class="panel-heading">
        <i class="fa fa-table fa-fw"></i> Detailed Data Table
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table id="immigration_table" class="table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <% for(var i=0; i<headers.length; i++ ) { %>
                            <th><%=headers[i]%></th>
                        <%}%>
                    </tr>
                </thead> 

                <% if (totals && totals.length > 0) { %>
                    <tfoot>
                        <tr>
                            <% for(var i=0; i<totals.length; i++ ) { %>
                                <th><%=totals[i]%></th>
                            <%}%>
                        </tr>
                    </tfoot>
                <%}%>
            </table>
        </div>
    </div>          

</div>

<div id="bar-graphs-tab" class="panel panel-green hide">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart
    </div>

    <div class="panel-body">
        <svg id="bar-graphs-tab-chart"></svg>
    </div>          
</div>
