<%_.each(contents, function(item) { %>
  
  <div class="panel panel-green">
    <!-- Default panel contents -->
    <div class="panel-heading"><%=item.section_title%></div>

    <!-- List group -->
    <div class="list-group">
      <%_.each(item.links, function(link) { %>
        <% var chartsParam = "";%>
        <%_.each(link.graph_type, function(graph) { chartsParam = chartsParam + "&" + graph + "=" + graph });%>
           
        <a href="<%=parent_link%>?q=<%=link.file_name%><%=chartsParam%>" class="list-group-item">
           <span class="pull-left"><%=link.title%></span>
           <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
           <div class="clearfix"></div>
        </a>
      <%})%>
    </div>
  </div>

<% }) %>